
:root {
    --dark-grey: #333333;
    --light-grey: #808080;
    --light-text: #e5e5e5;
    --medium-text: #939393;
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;
}

@font-face {
    font-family: "Gotham";
    src: url("assets/fonts/Gotham/gotham-light-webfont.woff2") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("assets/fonts/Gotham/gotham-book-webfont.woff2") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("assets/fonts/Gotham/gotham-bold-webfont.woff2") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("assets/fonts/Gotham/gotham-black-webfont.woff2") format("truetype");
    font-weight: 900;
    font-style: normal;
}